.homecontainer{

}

body {
    background-color: lightblue;
    /* width: 100px;*/
    height: 100px; 
    background-color: rgb(215, 214, 214);
    animation-name: example;
    animation-duration: 10s;
  }

  @keyframes example {
    from {background-color: rgb(103, 52, 52);}
    to {background-color: rgb(224, 224, 162);}
  }

  button {
    width: 40%;
    height: 50px;
    transition-timing-function: linear;
    border-bottom-right-radius: 80px;
    margin-top: 10%;
    box-shadow: chocolate;
    cursor: pointer;
    border: white transparent;
    text-transform: uppercase;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  button:hover {
    box-shadow: chocolate;
    color: chocolate;
    background-color: bisque;
  }

  .col-1{
    flex: 1;
  }
  
  .col-2{
    flex: 2;
    padding-bottom: 10px;
  }
  
 